@keyframes ldio-3k67ygvkh4i {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.01, 1);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.spinner {
  padding: 5% 0;
  text-align: center;
}

.ldio-3k67ygvkh4i div > div {
  position: absolute;
  width: 32.94px;
  height: 32.94px;
  border-radius: 50%;
  background: #0975da;
  animation: ldio-3k67ygvkh4i 0.9174311926605504s linear infinite;
}
.ldio-3k67ygvkh4i div:nth-child(1) > div {
  left: 137.5px;
  top: 75.5px;
  animation-delay: -0.8340283569641368s;
}
.ldio-3k67ygvkh4i > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 153.97px 91.97px;
}
.ldio-3k67ygvkh4i div:nth-child(2) > div {
  left: 127.5px;
  top: 108.5px;
  animation-delay: -0.7506255212677231s;
}
.ldio-3k67ygvkh4i > div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  transform-origin: 143.97px 124.97px;
}
.ldio-3k67ygvkh4i div:nth-child(3) > div {
  left: 100.5px;
  top: 131.5px;
  animation-delay: -0.6672226855713094s;
}
.ldio-3k67ygvkh4i > div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  transform-origin: 116.97px 147.97px;
}
.ldio-3k67ygvkh4i div:nth-child(4) > div {
  left: 66.5px;
  top: 136.5px;
  animation-delay: -0.5838198498748958s;
}
.ldio-3k67ygvkh4i > div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  transform-origin: 82.97px 152.97px;
}
.ldio-3k67ygvkh4i div:nth-child(5) > div {
  left: 34.5px;
  top: 122.5px;
  animation-delay: -0.5004170141784821s;
}
.ldio-3k67ygvkh4i > div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  transform-origin: 50.97px 138.97px;
}
.ldio-3k67ygvkh4i div:nth-child(6) > div {
  left: 15.5px;
  top: 92.5px;
  animation-delay: -0.4170141784820684s;
}
.ldio-3k67ygvkh4i > div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  transform-origin: 31.97px 108.97px;
}
.ldio-3k67ygvkh4i div:nth-child(7) > div {
  left: 15.5px;
  top: 57.5px;
  animation-delay: -0.3336113427856547s;
}
.ldio-3k67ygvkh4i > div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  transform-origin: 31.97px 73.97px;
}
.ldio-3k67ygvkh4i div:nth-child(8) > div {
  left: 34.5px;
  top: 28.5px;
  animation-delay: -0.25020850708924103s;
}
.ldio-3k67ygvkh4i > div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  transform-origin: 50.97px 44.97px;
}
.ldio-3k67ygvkh4i div:nth-child(9) > div {
  left: 66.5px;
  top: 13.5px;
  animation-delay: -0.16680567139282734s;
}
.ldio-3k67ygvkh4i > div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  transform-origin: 82.97px 29.97px;
}
.ldio-3k67ygvkh4i div:nth-child(10) > div {
  left: 100.5px;
  top: 18.5px;
  animation-delay: -0.08340283569641367s;
}
.ldio-3k67ygvkh4i > div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  transform-origin: 116.97px 34.97px;
}
.ldio-3k67ygvkh4i div:nth-child(11) > div {
  left: 127.5px;
  top: 41.5px;
  animation-delay: 0s;
}
.ldio-3k67ygvkh4i > div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  transform-origin: 143.97px 57.97px;
}
.loadingio-spinner-spin-j6e8g7i6pib {
  width: 183px;
  height: 183px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-3k67ygvkh4i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-3k67ygvkh4i div {
  box-sizing: content-box;
}
