.item {
  width: 40%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(88, 88, 88, 0.3);
  cursor: pointer;
  transition: transform 0.45s;

  h2 {
    font-size: 30px;
    flex-basis: 70%;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  p {
    font-size: 20px;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &:hover {
    background-color: rgba(215, 215, 215, 0.3);
    transform: scale(1.1);
  }
}

a {
  text-decoration: none;
  color: black;
}
